@media screen and (min-width: 1680px) {
  html {
    font-size: 24px;
  }
}

/*loading Screen*/
.loading_screen {
  background-image: radial-gradient(circle at top right, rgb(78, 78, 78) 0%, rgb(78, 78, 78) 1%,rgb(72, 72, 72) 1%, rgb(72, 72, 72) 10%,rgb(65, 65, 65) 10%, rgb(65, 65, 65) 22%,rgb(59, 59, 59) 22%, rgb(59, 59, 59) 23%,rgb(53, 53, 53) 23%, rgb(53, 53, 53) 28%,rgb(46, 46, 46) 28%, rgb(46, 46, 46) 37%,rgb(40, 40, 40) 37%, rgb(40, 40, 40) 100%);
  display: flex;
  justify-content: center;
  align-items: center;s
  width: 100%;
  height: 100vh;

}
.main_content {
  display: none;
}
/*loading Screen end*/


body {
    font-family: 'Open Sans', sans-serif;
    color: #f5f5f5;
    overflow: hidden;
    margin: 0;
    padding: 0;

}



/*Common for all Page*/

/*First overlay added dynamically*/
.main_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2D2C2C;
    opacity: 0.7;

}

/*Pre existed overlay*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent linear-gradient(180deg, rgb(81, 55, 121,0.5) 0%, rgb(45,34,52,0.5) 100%) 0% 0% no-repeat padding-box;
}

/*Added dynamically*/
.overlay_opacity {
    opacity: 0.2;
}


/*circle animation container*/
#container {
    overflow: hidden;  
    position: absolute; 
}

/*nav btn*/
.analyse_btn {
    border-radius: 10px;
}

/*//Nav bar*/
.analyse_btn {
    transition: all 1s ease;
    padding: 12px 18px;
    background: #C2D5E1;
    border-color: transparent;
    font-weight: 700;
    font-size: 0.8rem;
    text-shadow: 1px 1px 1px grey;
    color: #2b2b2b;
    border-radius: 15px;
    background-image:url("analyse_hover.svg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:0px 35px;
}
.analyse_btn:hover {
    border-color: transparent;
    background-color: #C2D5E1;
    background-position: 0px 1px;
}
/*//Logo*/
.logo {
    width: 14rem;
}


/*Menu*/
.menu_svg {
    width: 60px;
}


/*Menu bar*/

.cls-2,
.cls-3,
.cls-4 {
    transition: all 0.4s ease;
}


.nav_hover:hover .cls-2 {
    transform: scale(0.8,1) translate(-9px,-9px);

    transform-origin: 0% 50%;   
}
.nav_hover:hover .cls-3 {
    transform: scale(1.2,1) translate(-9px,-9px);

    transform-origin: 0% 50%;   
}
.nav_hover:hover .cls-4 {
    transform: scale(0.5,1) translate(-9px,-9px);

    transform-origin: 0% 50%;   
}



/*Rotate*/
.cls-3_cross {
    opacity: 0;
}

.cls-4_cross {
    transform: rotate(20deg) translate(-9px,-9px);
    transform-origin: 0% 30%;
}

.cls-2_cross {
    transform: rotate(-20deg) translate(-9px,-9px);
    transform-origin: 0% 30%;
}
/*Lightbox*/
.light_box_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.overlay_circle{
    position: absolute;
    top:50px;
    /*right: 22%;
    width:58%;
    height:120%;*/
    border-radius: 100%;
    background-color: #E1ECEC;
    /*opacity: 0.95;*/
    font-weight:600; 
    padding-top: 15%;
    letter-spacing: 1.62px;
    color: #3D3737;
    text-shadow: 0px 3px 6px #00000029;


    width: 28%;
    height:60%;
    right: 60%;
    opacity: 0;
    transition: all 1s ease;
}
.overlay_circle_show {
    right: 22%;
    width:58%;
    height:120%;
    opacity: 1;
}


.about_link {
    opacity: 0;
    transform: translateY(20rem);
    transition: all 0.7s cubic-bezier(.13,1.41,.8,.95);
    font-size: 2rem;
    cursor: pointer;
}
.system_link {
    opacity: 0;
    transform: translateY(15rem);
    transition: all 0.7s cubic-bezier(.13,1.41,.8,.95);
    font-size: 2.2rem;
    cursor: pointer; 
}

.about_link_show {
    opacity: 1;
    transform: translateY(0);
}

.system_link_show {
    opacity: 1;
    transform: translateY(0);
}

.about_link:hover {
    transform: translateY(-10px);
}

.system_link:hover {
    transform: translateY(10px);
}

/*menubar*/
.overlay_menu_container {
    opacity: 0;
    margin-top:2.8rem; 
    margin-left: 9rem;
    transition: all 0.4s ease;
}
/*.overlay_nav-link {
    opacity: 1;
}*/
.overlay_menu_container_show {
    opacity: 1;
}










/*Home Page*/

.home {
    overflow:hidden;
/*    position: relative;*/
    min-height: 100vh;
    margin: 0;
    background: url("front_page_bg.jpg") no-repeat center / cover;


    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1s cubic-bezier(.13,1.41,.8,.95);
}


.title_txt {
    font-size: 50px;
}

.title_txt p {
    margin-bottom: 0;
    line-height: 3.4rem;
} 


/*Animation of title_author_txt*/

.title_author_txt {
    display: inline-block;
    transition: all 2.15s cubic-bezier(.34,.53,.74,1.39);
    transform: translateX(-80px);
    opacity: 0;
}

.title_txt {
    transition: all 2.5s cubic-bezier(.13,1.41,.8,.95);
    transform: translateX(-380px);
    opacity: 0;
}

.title_author_txt_slided{
    transform: translateX(1px);
    opacity: 1;
}
.title_txt_slided {
    transform: translateX(0px);
    opacity: 1;
}



.title_line {
    transition: all 2.5s ease;
    transform: translateX(-80px);
    opacity: 0;
}

.title_line_animate {
    transform: translateX(1px);
    opacity: 1;
}



.line_animate {
    width: 24px;
    transition: all 2.5s ease;

}


/*Title*/
.title_container {
    margin-left: 7rem;
}




/*Arrow*/
.arrow_svg {
    width: 60%;
}
.arrow_svg:hover {
    cursor: pointer;
}
.arrow_container {
    transition: all 1.5s ease;
    position: absolute;
    bottom: -5%;
    left:48%;

}
.arrow_container_slided {
    bottom: 5%;
}


























/*Assam Page*/

.assam {
/*    display: none;*/
    position: absolute;
/*    transform: translateY(100%);*/
    overflow:hidden;
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: url("analyse.jpg") no-repeat center / cover;


    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1s cubic-bezier(.13,1.41,.8,.95);
}


/*Sliding */
/*Up*/
.assam_slided-up {
    top: 0%;
}

.home_slided-up {
    top: -100%;
}

.arrow_container_assam {
    transition: all 1.5s ease;
    position: absolute;
    bottom: -5%;
    left:48%;

}

.arrow_svg_up {
    width: 60%;
    transform: rotate(180deg);
}


/*down*/ /*Curenlty just removing the up class*
/*.assam_slided-down {
    top: 100%;
}

.home_slided-down {
    top: 0;
}*/



/*Body*/

.assam_title {
    margin-top: 5%

}
.assam_name {
    font-size: 4rem;
}
.assam_name_crime {
    font-size: 3rem;
}

.assam_count {
    font-size: 3rem;
    line-height: 6rem;
}



/*Sliding Animation*/
.assam_title {
    transition: all 2.5s cubic-bezier(.13,1.41,.8,.95);
    transform: translateX(-380px);
    opacity: 0;
}
.assam_count_container {
    transition: all 2.5s cubic-bezier(.13,1.41,.8,.95);
    transform: translateY(200px);
    opacity: 0;   
}

.assam_title_slided {
    transform: translateX(0px);
    opacity: 1;
}

.assam_count_container_slided {
    transform:translateY(0px);
    opacity: 1;
}


















/*About Page*/

.about {
/*    display: none;*/
    position: absolute;
/*    transform: translateY(100%);*/
    overflow:hidden;
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: url("about.jpg") no-repeat center / cover;


    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 100%;
    right: 0;
    bottom: 0;
    transition: all 1s cubic-bezier(.13,1.41,.8,.95);
}


/*Sliding */
/*right*/
.about_slided {
    left: 0%;
}
.current_page_slided-right {
    left: -100%
}




/*Body*/

.About_title {
    margin-top: 3%

}
.About_name {
    font-size: 2.5rem;
}
.About_des {
    font-size: 1.5rem;
}









/*System Page*/

.system {
/*    display: none;*/
    position: absolute;
/*    transform: translateY(100%);*/
    overflow:hidden;
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: url("about.jpg") no-repeat center / cover;


    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 100%;
    right: 0;
    bottom: 0;
    transition: all 1s cubic-bezier(.13,1.41,.8,.95);
}


/*Sliding */
/*right*/
.system_slided {
    left: 0%;
}
.home_slided-right {
    left: -100%
}




/*Body*/

.system_title {
    margin-top: 3%

}
.system_name {
    font-size: 2.5rem;
}
.system_des {
    font-size: 1.5rem;
}


/*back_svg*/
.back_svg {
    width:7%;
    position: absolute;
    left: 83%;
    bottom: 10%;
}







/*ASsam count animaytion*/
.assam_count_container {
  /*  position: relative;*/
    overflow-y: hidden;
}
.assam_count{
/*    position: absolute;*/
    height:1.5em;
}

.count_2 {
    transform: translateY(-1em);
}
.count_3 {
    transform: translateY(-2em);
}
.count_4 {
    transform: translateY(-3em);
}

/*
.count_1 {
    transform:translateY(-4.2rem);
}*/
/*.count_2 {
    transform: translateY(-2em);
}
.count_3 {
    transform: translateY(-4em);
}
.count_4 {
    transform: translateY(-6em);
}

*/


/*.count_1 {
    transform:translateY(-4.2rem);
}
.count_2 {
    transform: translateY(-4em);
}
.count_3 {
    transform: translateY(-6em);
}
.count_4 {
    transform: translateY(-8em);
}

*/






















.home_slided-left {
    left: 100%;
}



















ul {
    padding: 0;
    margin: 0;
}


/*Nav styleing*/
.Nav_container {
    padding: 0 9rem 0 9rem;
}

.nav_ul {
    z-index: 10;
    list-style: none;
    margin-right: auto;
}
.nav_menu {
    margin-top: 2.8rem;
}
.nav_icon {
    margin-left: 3rem;
    margin-top: 1.8rem;
}
.nav_btn {
    z-index: 10;
    margin-top: 2.5rem;
}

.nav_menu a {
    padding: 0;
}














/*Odometer*/

.odometer {
    font-size: 3.5rem;
}












/*Hone des margin*/
.home_des_container {
    margin-left: 9.5rem;
}