.con {
	height: 100vh;
}
.Mycard {
	align-self: center;
}

#sucess,
#failed,
#list {
	display: none;
}

.col {
	max-width: 24% !important;
}

ul {
	padding: 0px 10px;
	list-style: none;
/*	width: max-content;*/
	display: inline-block;
/*	width: 100%;*/
	text-align: center;
}
.card-header {
	text-align: center;
	padding: 10px 1px;
	min-width: 100px
	width: 100%;
}

.card {
	height: max-content;
	margin-right: 10px;
	padding: 0;
	min-width: max-content;

}
.card-body {
	padding: 10px;
}
.lsit_p {
	font-style: italic;
	
}
.n_margin {
	margin-top: -16vh;
}

.bar_plot {
	position: relative;
}

.growth_cont {
	position: absolute;
	z-index: 3;
}